.dashboard-content {
  background-color: #F0F2F6;
  padding: 150px 0;
}
.dashboard-content h3.title{
  color: #222;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}