.dashboard-table {
  width: 100%;
  border-collapse: collapse ;
  table-layout: fixed; 
  border: 1px solid var(--primary);
}
.dashboard-table tr{
  border-bottom: 1px solid #D8D8D9;
}
.dashboard-table th{
  padding: 5px;
  text-align: left;
}
.dashboard-table td { 
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.col-title.date { 
  width: 100px;
}
.col-title.time,
.col-title.status { 
  width: 90px;
}
